apparmor==3.1.2
arandr==0.1.10
attrs==22.2.0
autopep8==2.0.1
btrfsutil==6.1.2
cairocffi==1.4.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.1
docutils==0.19
idna==3.4
LibAppArmor==3.1.2
libfdt==1.6.1
nftables==0.1
packaging==21.3
ply==3.11
psutil==5.9.4
pyaml==21.10.1
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
PyGObject==3.42.2
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyYAML==6.0
qtile==0.22.1
Reflector==2021.11.20.2.41.3
requests==2.28.2
team==1.0
tomli==2.0.1
urllib3==1.26.14
xcffib==1.1.0
